<!--
/**
 * @license
 * Copyright (c) 2017 The Polymer Project Authors. All rights reserved.
 * This code may only be used under the BSD style license found at http:polymer.github.io/LICENSE.txt
 * The complete set of authors may be found at http:polymer.github.io/AUTHORS.txt
 * The complete set of contributors may be found at http:polymer.github.io/CONTRIBUTORS.txt
 * Code distributed by Google as part of the polymer project is also
 * subject to an additional IP rights grant found at http:polymer.github.io/PATENTS.txt
 */
 -->
<!-- <link rel="import" href="bower_components/polymer/externs/polymer-closure-types.html"> -->
<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="x-foo.html">
<link rel="import" href="x-bar.html">


<dom-module id="x-app">
    <template>
        <div>
            <h1>X App</h1>
            <x-bar nullable="4">
                <span>Bar World</span>
            </x-bar>
            <hr>
            <x-foo>
            </x-foo>
        </div>
    </template>
    <script>
        (function () {
            'use strict';
            window.addEventListener('WebComponentsReady', () => {
                /**
                 * @constructor
                 * @extends {HTMLElement}
                 * @implements {Polymer_ElementMixin}
                 */
                let base = Polymer.ElementMixin(HTMLElement);
                /**
                 * @polymer
                 * @extends {base}
                 * @appliesMixin Polymer.ElementMixin
                 */
                class XApp extends base {
                    static get is() {
                        return 'x-app'
                    }
                    static get properties() {
                        return {


                        }
                    }


                }

                customElements.define(XApp.is, XApp);


            });
        })();
    </script>
</dom-module>