<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="x-bar">
    <template>
      <style>
         :host {
          display: inline-block;
          color: blue;
        }
  
         ::slotted(*) {
          color: red;
        }
  
        div {
          transform-origin: 0 0 0;
          /* transform: scale(var(--size, 1)); */
        }
      </style>
      <button on-click="_clicked">Click Bar here!</button>
      <div>
        Hello From Bar
        <slot></slot>
        <h2>Bar {{toggleIcon}} {{readOnlyNimoProp}} {{size}} </h2>
        <h3>{{size2}}</h3>
      </div>
    </template>
    <script>
      (function () {
        'use strict';
        window.addEventListener('WebComponentsReady', () => {
          /**
           * @constructor
           * @extends {HTMLElement}
           * @implements {Polymer_ElementMixin}
           */
          let base = Polymer.ElementMixin(HTMLElement);
          /**
           * @polymer
           * @extends {base}
           * @appliesMixin Polymer.ElementMixin
           */
          class XBar extends base {
            static get is() {
              return 'x-bar'
            }
            static get properties() {
              return {
                size2: {
                  type: Number,
                  value:10,
                  reflectToAttribute:true,
                  observer: '_size2Changed'
                },
                size: {
                  type: Number,
                  observer: '_sizeChanged'
                },
                readOnlyNimoProp: {
                  type: Boolean,
                  value: false,
                  readOnly: true
                },
                /** @type {?Object} */
                nullable: {
                  type: Object,
                  value: () => ({})
                },
                /** @type {string} */
                toggleIcon: {
                  type: String,
                  reflectToAttribute:true,
                  observer: '_toggleIconChanged'
                }
               
              }
            }
            ready() {
              super.ready();
              this.addEventListener('click', () => this._clicked());
              this.size = 4;
              this.size2 = 5;
              
              this._setReadOnlyNimoProp(true);
              setTimeout(() => {
                this.reset();
              });
            }
            _sizeChanged(size) {
              window.ShadyCSS.styleSubtree(this, {
                '--size': String(size)
              });
            }
  
            _toggleIconChanged(){
              //just
            }
  
            reset() {
              this.nullable = null;
            }
            _clicked() {
              console.log('clicked!');
              this.toggleIcon = 'YAY!' + new Date().getSeconds();
              console.log('--!' + this.toggleIcon);
              
            }
  
            _size2Changed(size) {
            }
  
          }
          XBar.prototype["_clicked"] = XBar.prototype._clicked;
          XBar.prototype["_sizeChanged"] = XBar.prototype._sizeChanged;
          XBar.prototype["_size2Changed"] = XBar.prototype._size2Changed;
          
          customElements.define(XBar.is, XBar);
  
  
        });
      })();
    </script>
  </dom-module>