<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">

<dom-module id="x-foo">
    <template>
        <style>
             :host {
                display: inline-block;
                color: blue;
            }

             ::slotted(*) {
                color: red;
            }
            div {
                transform-origin: 0 0 0;
                /* transform: scale(var(--size, 1)); */
            }
        </style>
        <button on-click="_clicked">Click here!</button>
        <div>
            Hello
            <slot></slot>
            <h2>Foo {{toggleIcon}} {{readOnlyNimoProp}} {{size}} </h2>
            <h3>{{size2}}</h3>
            <iron-ajax id="iron1" on-response="onResp" content-type="application/json"
            url="https://api.nimo.pet/hello" method="GET"
            debounce-duration="300">
            </iron-ajax>
        </div>
    </template>
    <script>
        (function () {
            'use strict';
            window.addEventListener('WebComponentsReady', () => {
                /**
                 * @constructor
                 * @extends {HTMLElement}
                 * @implements {Polymer_ElementMixin}
                 */
                let base = Polymer.ElementMixin(HTMLElement);
                /**
                 * @polymer
                 * @extends {base}
                 * @appliesMixin Polymer.ElementMixin
                 */
                class XFoo extends base {
                    static get is() {
                        return 'x-foo'
                    }
                    static get properties() {
                        return {
                            size2: {
                                type: Number,
                                value: 10,
                                reflectToAttribute: true,
                                observer: '_size2Changed'
                            },
                            size: {
                                type: Number,
                                observer: '_sizeChanged'
                            },
                            readOnlyNimoProp: {
                                type: Boolean,
                                value: false,
                                readOnly: true
                            },
                            /** @type {?Object} */
                            nullable: {
                                type: Object,
                                value: () => ({})
                            },
                            /** @type {string} */
                            toggleIcon: {
                                type: String,
                                reflectToAttribute: true,
                                observer: '_toggleIconChanged'
                            }

                        }
                    }
                    ready() {
                        super.ready();
                        this.addEventListener('click', () => this._clicked());
                        this.size = 4;
                        this.size2 = 5;

                        this._setReadOnlyNimoProp(true);
                        setTimeout(() => {
                            this.reset();
                        });
                    }
                    _sizeChanged(size) {
                        window.ShadyCSS.styleSubtree(this, {
                            '--size': String(size)
                        });
                    }

                    onResp(r){
                        console.log('AA');
                        this.toggleIcon = 'After ajax call ! ' + r.detail.response;
                    }
                    _toggleIconChanged() {
                        //just
                    }

                    reset() {
                        this.nullable = null;
                    }
                    _clicked() {
                        console.log('clicked!');
                        this.$.iron1.generateRequest();
                        this.toggleIcon = 'YAY!' + new Date().getSeconds();
                        console.log('--!' + this.toggleIcon);

                    }

                    _size2Changed(size) {}

                }
                XFoo.prototype["_clicked"] = XFoo.prototype._clicked;
                XFoo.prototype["_sizeChanged"] = XFoo.prototype._sizeChanged;
                XFoo.prototype["_size2Changed"] = XFoo.prototype._size2Changed;

                customElements.define(XFoo.is, XFoo);
            });
        })();
    </script>
</dom-module>ß